.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0px;
  background-color: rgb(255, 240, 107);
  padding-block: 10px;
  font-family: 'sans-serif', Montserrat;
  background-image: linear-gradient( #007bff,white, #6c757d);
  -webkit-text-fill-color: black;
}

.list {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.firstul {
  margin-right: 3rem;
}

.firstlist {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

#listtwo1,
#listtwo2,
#listtwo3 {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

span {
  margin-left: 5px;
  font-weight: bold;
}

.footer{
  background-image: linear-gradient( #6c757d, white, yellow);
  padding-bottom: 10px;
  padding-top: 1px;
  font-size: 15px;
  color: black;
  margin-bottom: 0px;
  position: relative;
  bottom: 0px;
  text-align: center;
}